<!DOCTYPE html>
<html lang="es" ng-app="notes">
  <head>
    <meta charset="utf-8">
    <title>Cliente para notas</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
  </head>
  <body>
    <aside id="categories">
      <header>
        <h1>Categories</h1>
      </header>
      <section ng-controller="categoriesController as c">
        <button type="button" name="" ng-click="c.crud.to('c')">NEW</button>
        <ul>
          <li ng-if="categoriesCollection.data.status === 204">
            No hay datos
          </li>
          <li ng-repeat="element in categoriesCollection.data.body" ng-if="categoriesCollection.data.status === 200">
            <span style="color:{{element.color}}" ng-dblclick="c.crud.to('r',element)">܍ {{element.categoria}}</span>
            <span ng-click="c.crud.to('u',element)">
              <i class="fa fa-pencil"></i> Edit
            </span>
            <span ng-click="c.crud.to('d',element)">
              <i class="fa fa-minus"></i> Delete
            </span>
          </li>
        </ul>
        <div>
          <form action="" id="categoryForm">
            <br>
            <input type="text" name="" placeholder="Categoria" ng-model="categoriesCollection.current.body.categoria">
            <br>
            <input type="color" name="" ng-model="categoriesCollection.current.body.color">
            <br>
            <textarea name="" rows="8" cols="40" placeholder="Descripción" ng-model="categoriesCollection.current.body.descripcion">
            </textarea>
            <br>
            <button type="button" name="categoryButton">{{categoriesCollection.current.action.name}}</button>
          </form>
        </div>
      </section>
    </aside>
    <aside id="notes">
      <header>
        <h1>Notes</h1>
      </header>
      <section ng-controller="notesController as n">
        <button type="button" name="" ng-click="n.crud.to('c')">NEW</button>
        <ul>
          <li ng-if="notesCollection.data.status === 204">
            No hay Datos
          </li>
          <li ng-repeat="element in notesCollection.data.body" ng-if="notesCollection.data.status === 200">
            {{note.category.getBy(element)}}
            <span style="color:{{element.category.color}}" ng-dblclick="n.crud.to('r',element)">{{element.titulo}} ܍ {{element.category.categoria}}</span>
            <span ng-click="n.crud.to('u',element)">
              <i class="fa fa-pencil"></i> Edit
            </span>
            <span ng-click="n.crud.to('d',element)">
              <i class="fa fa-minus"></i> Delete
            </span>
          </li>
        </ul>
        <div>
          <form action="" id="noteForm">
            <br>
            <input type="text" name="" placeholder="Titulo" ng-model="notesCollection.current.body.titulo">
            <br>
            <select class="" name="" ng-model="notesCollection.current.body.category_id">
              <option ng-repeat="option in categoriesCollection.data.body" ng-selected="notesCollection.current.body.category_id===option._id" value="{{option._id}}">{{option.categoria}}</option>
            </select>
            <br>
            <textarea name="" rows="8" cols="40" placeholder="Nota" ng-model="notesCollection.current.body.cuerpo">
            </textarea>
            <br>
            <button type="button" name="categoryButton">{{notesCollection.current.action.name}}</button>

          </form>
        </div>
      </section>
    </aside>
  </body>
  <assets>
    <script src="assets/angular-basics.js" charset="utf-8"></script>
    <script src="app/requests.js" charset="utf-8"></script>
    <script src="app/crud.js" charset="utf-8"></script>
    <script src="app/notes.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </assets>
</html>
